
/* Your CSS Code here. */
.main{
	width :200px;
	background-color : purple;
	border-left color : green;
	border-left : solid 5px green;
	padding : 10px;
}

#heading{
	font-size : 20px;
	color : rgb(255, 255, 255);
	text-decoration : underline;
}